[class^='bmd-label'], [class*=' bmd-label'] {
    color: grey !important;
}

.bmd-form-group.is-focused .bmd-label-floating, .bmd-form-group .is-focused .bmd-label-floating, .bmd-form-group.is-filled .bmd-label-floating, .bmd-form-group .is-filled .bmd-label-floating {
    font-size: 1rem !important;
}

.is-focused [class^='bmd-label'], .is-focused [class*=' bmd-label'], .is-focused [class^='bmd-label'], .is-focused [class*=' bmd-label'] {
    color: white !important;
}

.bmd-form-group .bmd-help {
    font-size: 0.90rem !important;
    color: lightgrey !important;
}

.bmd-form-group .checkbox label, .bmd-form-group .radio label, .bmd-form-group label {
    color: white !important;
}