<!-- Modal -->
<div class="modal fade" id="modal_suppression_bien" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-darkin text-center text-light font-weight-bold">
                <h5 class="modal-title text-center text-light font-weight-bold mx-auto" id="modalTitre">
                    Supprimer un ou plusieurs bien à ce chantier
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <span id="notif_suppression_ajax"></span>
            <div class="modal-body text-justify" id="bodyModal"></div>
        </div>
    </div>
</div>