body, html {
    background-image: url("../image/background-material.jpeg");
    /*height: 100%;*/
    /*width: 100%;*/
}
.bmd-layout-container {
    position: absolute;
}

.actif {
    background-color: #6c757d !important;
    color: #FFFFFF !important;
}

.flex-grow {
    flex: 1 0 auto;
}

.bmd-layout-canvas {
    flex-grow: 1;
}

.bg-darkin {
    background-color: #37474F;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.fz-07-rem {
    font-size: 0.7rem !important;
}


.fz-08-rem {
    font-size: 0.8rem !important;
}

.fz-09-rem {
    font-size: 0.9rem !important;
}

.fz-1-rem {
    font-size: 1rem !important;
}

.ft-14 {
    font-size: 1rem;
}

.ft-16 {
    font-size: 16px;
}

.ft-18 {
    font-size: 18px !important;
}

.ft-24 {
    font-size: 24px !important;
}

.ft-36 {
    font-size: 36px !important;
}

.ft-48 {
    font-size: 48px;
}

.ft-56 {
    font-size: 56px;
}

.ft-80 {
    font-size: 80px;
}

.ft-90 {
    font-size: 90px;
}

.bmd-layout-drawer[aria-expanded="true"] {
    width: 300px !important;
}

.link-unstyled, .link-unstyled:visited, .link-unstyled:hover, .link-unstyled:active, .link-unstyled:focus, .link-unstyled:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    padding: inherit;
    vertical-align: inherit;
}

#notif {
    position: absolute;
    top: 1%;
    right: 1%;
}

.notification {
    z-index: 1024;
    position: relative;
    min-height: 10%;
    display: block;
    max-width: 350px;
    min-width: 350px;
    overflow: hidden;
    font-size: .875rem;
    background-color: rgba(255, 255, 255, .85);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: .25rem;
}

@media screen and (max-width: 360px) {
    .notification {
        max-width: 100%;
        min-width: 100%;
    }
}

.notification:not(:last-child) {
    margin-bottom: 0.75rem;
}

.notification-header {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .25rem .75rem;
    color: #6c757d;
    background-color: rgba(255, 255, 255, .85);
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.notification-body {
    padding: .75rem;
}


.cercle {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid lightgrey;
}

.cercle-success {
    color: #eeeeee;
    background-color: #4caf50;
}

.cercle-danger {
    color: #37474F;
    background-color: #f44336;
}

.cercle-info {
    color: black;
    background-color: #03A9F4;

}

.cercle-warning {
    color: #37474F;
    background-color: #ffeb3b;
}